/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

/*body styles */
.container {
	width: 80%;
	margin: 0 auto;
}

/*nav styles */
nav{
	display: flex;
	height: 14vh;
	width: 100%;
}
nav a {
	color: grey;
	text-decoration: none;
	justify-content: space-between;
	padding: 3.5%;
	align-items: center;
}
 nav a:last-child {
	transform: translateY(-8%);
}  

/*header styles*/
header {
	margin-top: 2%;
	width: 100%;
	display: flex;
}
header #title {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center; 
}

h1 {
	font-size: 60px;
	letter-spacing: 2px;
}

header div {
	width: 49%;
	justify-content: space-between;
	align-items: center;
}

button {
	border: 1px solid #4D4E4F;
	color: black;
	font-size: 15px;
	width: 30%;
	padding: 1%;
	letter-spacing: 1px;
}


/*content styles */
#content-top {
	display: flex;
	justify-content: space-between;
}
#content-top div p {
	 line-height: 17px; 
}  

#content-top div {
	width: 47%;
}
.middle-img {
	width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
}
#content-bottom {
	display: flex;
	justify-content: space-between;
}

#content-bottom div p {
	height: 30%;
	line-height: 17px;
}

#content-bottom div {
	width: 32%;
}
hr {
	margin-top: 5%;
	margin-bottom: 5%;
}
/*footer styles */

footer {
	height: 16vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.copyright {
	text-align: center;
	padding: 3% 1% 10%;
}